<a href="https://colab.research.google.com/github/MauroCrix/projeto-bd-colab/blob/main/Projeto_BD_SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import sqlite3

# 1. Conexão com banco de dados em memória
conexao = sqlite3.connect(':memory:')
cursor = conexao.cursor()

# 2. Criação das tabelas
cursor.execute('''
    CREATE TABLE Clientes (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nome TEXT NOT NULL,
        email TEXT UNIQUE NOT NULL
    )
''')

cursor.execute('''
    CREATE TABLE Produtos (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nome TEXT NOT NULL,
        preco REAL NOT NULL
    )
''')

cursor.execute('''
    CREATE TABLE Vendas (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        cliente_id INTEGER,
        produto_id INTEGER,
        data_venda TEXT,
        FOREIGN KEY(cliente_id) REFERENCES Clientes(id),
        FOREIGN KEY(produto_id) REFERENCES Produtos(id)
    )
''')

# 3. Inserção de dados
clientes = [
    ("Ana Silva", "ana@email.com"),
    ("Bruno Costa", "bruno@email.com"),
    ("Carlos Lima", "carlos@email.com")
]

produtos = [
    ("Notebook", 3500.00),
    ("Mouse", 150.00),
    ("Teclado", 200.00)
]

vendas = [
    (1, 1, "2024-05-01"),
    (2, 2, "2024-05-02"),
    (3, 3, "2024-05-03"),
    (1, 2, "2024-05-04")
]

cursor.executemany("INSERT INTO Clientes (nome, email) VALUES (?, ?)", clientes)
cursor.executemany("INSERT INTO Produtos (nome, preco) VALUES (?, ?)", produtos)
cursor.executemany("INSERT INTO Vendas (cliente_id, produto_id, data_venda) VALUES (?, ?, ?)", vendas)

conexao.commit()

# 4. Consultas

# a) Consulta simples
print("\nTodos os produtos:")
cursor.execute("SELECT * FROM Produtos")
for linha in cursor.fetchall():
    print(linha)

# b) Consulta com JOIN
print("\nRelatório de vendas com nome do cliente e produto:")
cursor.execute('''
    SELECT Vendas.id, Clientes.nome, Produtos.nome, Vendas.data_venda
    FROM Vendas
    JOIN Clientes ON Vendas.cliente_id = Clientes.id
    JOIN Produtos ON Vendas.produto_id = Produtos.id
''')
for linha in cursor.fetchall():
    print(linha)

# c) Consulta com WHERE e ORDER BY
print("\nVendas do cliente Ana ordenadas por data:")
cursor.execute('''
    SELECT Produtos.nome, Vendas.data_venda
    FROM Vendas
    JOIN Clientes ON Vendas.cliente_id = Clientes.id
    JOIN Produtos ON Vendas.produto_id = Produtos.id
    WHERE Clientes.nome = "Ana Silva"
    ORDER BY Vendas.data_venda
''')
for linha in cursor.fetchall():
    print(linha)

# Fechando conexão
conexao.close()

Todos os produtos:
(1, 'Notebook', 3500.0)
(2, 'Mouse', 150.0)
(3, 'Teclado', 200.0)

Relatório de vendas com nome do cliente e produto:
(1, 'Ana Silva', 'Notebook', '2024-05-01')
(2, 'Bruno Costa', 'Mouse', '2024-05-02')
(3, 'Carlos Lima', 'Teclado', '2024-05-03')
(4, 'Ana Silva', 'Mouse', '2024-05-04')

Vendas do cliente Ana ordenadas por data:
('Notebook', '2024-05-01')
('Mouse', '2024-05-04')